[Unit]
Description=VLC media player
After=MEDIA.mount
After=sound.target

[Service]
Type=simple
ExecStart=/opt/pi-player-lite/run
Restart=always

[Install]
WantedBy=default.target
