[Unit]
Description=Pulseaudio Sound Service
Requires=pulseaudio.socket
Before=sound.target

[Service]
Type=notify
ExecStart=/usr/bin/pulseaudio --verbose --daemonize=no
ExecStartPost=/usr/bin/pactl load-module module-alsa-sink
ExecStartPost=/usr/bin/pactl load-module module-combine-sink sink_name=combined
ExecStartPost=/usr/bin/pactl set-default-sink combined
Restart=on-failure

[Install]
Also=pulseaudio.socket
WantedBy=default.target
